grobid-home/schemas/odd/Grobid.odd

<?xml version="1.0"?>
<?xml-model href="tei_odds.rnc" type="application/relax-ng-compact-syntax"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en"
    xmlns:rng="http://relaxng.org/ns/structure/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Grobid TEI result schema</title>
                <author>Patrice Lopez</author>
            </titleStmt>
            <publicationStmt>
                <p>for use by whoever wants it</p>
            </publicationStmt>
            <notesStmt>
                <note type="ns">http://www.example.org/ns/nonTEI</note>
            </notesStmt>
            <sourceDesc>
                <p>created on Sunday 05th October 2014 06:25:09 AM</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <front>
            <divGen type="toc"/>
        </front>
        <body>
            <p>Schema for structured documents resulting from the automatic extraction and restructuring realized by Grobid.</p>
            <schemaSpec ident="Grobid" docLang="en" prefix="tei_" xml:lang="en">
                <!--moduleRef
                    url="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/mathml2-main.rng"/-->
                <moduleRef key="core" except=""/>
                <moduleRef key="tei" except=""/>
                <moduleRef key="header" except=""/>
                <moduleRef key="textstructure" except=""/>
                <moduleRef key="namesdates" except=""/>
                <moduleRef key="linking" except=""/>
                <moduleRef key="figures" except=""/>
                <elementSpec module="figures" ident="formula" mode="change">
                    <content>
                        <rng:zeroOrMore>
                            <rng:choice>
                                <rng:text/>
                                <rng:ref name="model.graphicLike"/>
                                <rng:ref name="model.hiLike"/>
                                <!--rng:ref name="mathml.math"/-->
                            </rng:choice>
                        </rng:zeroOrMore>
                    </content>
                </elementSpec>

                <!-- required to avoid Sanity Checker warnings -->
                <elementSpec ident="handNote" mode="delete" module="header"/>
                <elementSpec ident="typeNote" mode="delete" module="header"/>
                <elementSpec ident="scriptNote" mode="delete" module="header"/>
                <!-- sanity checker still fails tho, as it cannot find element mathml.math -->
				
				<elementSpec ident="monogr" mode="change" module="core">
  		          <content>
  		            <rng:zeroOrMore>
						<rng:choice>
							<rng:ref name="imprint"/>
							<rng:ref name="author"/>
							<rng:ref name="editor"/>
							<rng:ref name="meeting"/>
							<rng:ref name="respStmt"/>
							<rng:ref name="title"/>
							<rng:ref name="model.ptrLike"/>
							<rng:ref name="idno"/>						
							<rng:ref name="textLang"/>
							<rng:ref name="authority"/>
							<rng:ref name="availability"/>
							<rng:ref name="model.noteLike"/>
							<rng:ref name="edition"/>
							<rng:ref name="sponsor"/>
							<rng:ref name="funder"/>
							<rng:ref name="extent"/>
							<rng:ref name="biblScope"/>
						</rng:choice>	
					</rng:zeroOrMore>
  		          </content>
  		        </elementSpec>
				
				<!-- allow empty imprint -->
		        <elementSpec ident="imprint" mode="change" module="core">
		          <content>
		            <rng:zeroOrMore>
		              <rng:choice>
		                <rng:ref name="model.Incl"/>
		                <rng:ref name="biblScope"/>
		                <rng:ref name="date"/>
		                <rng:ref name="distributor"/>
		                <rng:ref name="pubPlace"/>
		                <rng:ref name="publisher"/>
		                <rng:ref name="time"/>
		              </rng:choice>
		            </rng:zeroOrMore>
		          </content>
		        </elementSpec>
				
				<!-- allow empty abstract -->
		        <elementSpec ident="abstract" mode="change" module="header">
                    <content>
                        <rng:zeroOrMore>
                            <rng:choice>
                                <rng:text/>
                                <rng:ref name="model.pLike"/>
                                <rng:ref name="model.listLike"/>
                            </rng:choice>
                        </rng:zeroOrMore>
                    </content>
		        </elementSpec>

				<!-- accept text under keywords, in case Grobid cannot segment a keyword field -->
		        <elementSpec ident="keywords" mode="change" module="header">
                    <content>
                        <rng:zeroOrMore>
                            <rng:choice>
                                <rng:text/>
                                <rng:ref name="term"/>
                            </rng:choice>
                        </rng:zeroOrMore>
                        <rng:optional>
							<rng:ref name="list"/>
						</rng:optional>
                    </content>
		        </elementSpec>

				<!-- introduce the trash custom element-->
				<elementSpec ident="trash" mode="add">
				    <gloss>Trash</gloss>
				    <desc>contains noise information to be ignored, typically from vectoriel images</desc>
				    <classes>
				      <memberOf key="model.pLike"/>
				      <memberOf key="att.editLike"/>
				      <memberOf key="att.datable"/>
				      <memberOf key="att.naming"/>
				    </classes>

				    <content>
						<rng:zeroOrMore>
							<rng:choice>
								<rng:text/>
					  		  	<rng:ref name="ref"/>
	  		              </rng:choice>
	  		            </rng:zeroOrMore>	
				    </content>
				</elementSpec>
				
				<!-- allow empty listBibl -->
		        <elementSpec ident="listBibl" mode="change" module="core">
		          <content>
		            <rng:zeroOrMore>
		              <rng:choice>
		                <rng:ref name="model.biblLike"/>
		              </rng:choice>
		            </rng:zeroOrMore>
		          </content>
		        </elementSpec>
				
				<!-- allow text in table, because Grobid does not include yet a model for 
					 structuring table -->
		        <elementSpec ident="table" mode="change" module="figures">
		          <content>
		            <rng:optional>
		                <rng:text/>
		            </rng:optional>
		          </content>
		        </elementSpec>
				
				<!-- allow <text> under <TEI> to be optional -->
		        <elementSpec ident="TEI" mode="change" module="textstructure">
		          <content>
					<rng:ref name="teiHeader"/>
		            <rng:optional>
		                <rng:ref name="model.resourceLike"/>
		            </rng:optional>
		            <rng:optional>
		                <rng:ref name="text"/>
		            </rng:optional>
		          </content>
		        </elementSpec>

		        <classSpec ident="att.global" type="atts" mode="change" module="tei">
		        	<attList>
		        		<attDef ident="coords" mode="change">
		        			<desc>Coordinates of the logical element in the original PDF document. The logical element is described as a list of bounding boxes, each one being defined by a page number, X and Y pixel coordinates in the PDF page (as a convention from the top left point of the page), height and width of the bounding box. Each bounding box is separated by a semi-colon (;) and each coordinate elements by a coma (,).</desc><desc>Coordinates of the logical element in the original PDF document. The logical element is described as a list of bounding boxes, each one being defined by a page number, X and Y coordinates in the PDF page in millimeters (as a convention from the top left point of the page), height and width of the bounding box in millimeters. Each bounding box is separated by a semi-colon (;) and each coordinate elements by a coma (,).</desc>
		        		</attDef>
		        	</attList>
				</classSpec>
				
				<!-- removing elements not used in Grobid results -->
				<elementSpec ident="ab" mode="delete" module="linking"/>
				<elementSpec ident="abbr" mode="delete" module="core"/>
				<elementSpec ident="add" mode="delete" module="core"/>
				<elementSpec ident="addName" mode="delete" module="core"/>
				<elementSpec ident="age" mode="delete" module="namesdates"/>
				<elementSpec ident="alt" mode="delete" module="linking"/>
				<elementSpec ident="altGrp" mode="delete" module="linking"/>
				<elementSpec ident="appInfo" mode="delete" module="header"/>
				<elementSpec ident="application" mode="delete" module="header"/>
				<elementSpec ident="argument" mode="delete" module="textstructure"/>
				<elementSpec ident="authority" mode="delete" module="header"/>
				<elementSpec ident="biblFull" mode="delete" module="header"/>
				<elementSpec ident="binaryObject" mode="delete" module="core"/>
				<elementSpec ident="birth" mode="delete" module="namesdates"/>
				<elementSpec ident="bloc" mode="delete" module="namesdates"/>
				<elementSpec ident="byline" mode="delete" module="textstructure"/>
				<elementSpec ident="cRefPattern" mode="delete" module="header"/>
				<elementSpec ident="calendar" mode="delete" module="header"/>
				<elementSpec ident="calendarDesc" mode="delete" module="header"/>
				<elementSpec ident="catDesc" mode="delete" module="header"/>
				<elementSpec ident="catRef" mode="delete" module="header"/>
				<elementSpec ident="category" mode="delete" module="header"/>
				<elementSpec ident="cb" mode="delete" module="core"/>
				<elementSpec ident="change" mode="delete" module="header"/>
				<elementSpec ident="choice" mode="delete" module="core"/>
				<elementSpec ident="cit" mode="delete" module="core"/>
				<elementSpec ident="citedRange" mode="delete" module="core"/>
				<elementSpec ident="classDecl" mode="delete" module="header"/>
				<elementSpec ident="climate" mode="delete" module="namesdates"/>
				<elementSpec ident="closer" mode="delete" module="textstructure"/>
				<elementSpec ident="corr" mode="delete" module="core"/>
				<elementSpec ident="correction" mode="delete" module="header"/>
				<elementSpec ident="creation" mode="delete" module="header"/>
				<elementSpec ident="dateline" mode="delete" module="textstructure"/>
				<elementSpec ident="death" mode="delete" module="namesdates"/>
				<elementSpec ident="del" mode="delete" module="core"/>
				<elementSpec ident="desc" mode="delete" module="core"/>
				<elementSpec ident="distinct" mode="delete" module="core"/>
				<elementSpec ident="distributor" mode="delete" module="header"/>
				<elementSpec ident="district" mode="delete" module="namesdates"/>
				<elementSpec ident="div1" mode="delete" module="textstructure"/>
				<elementSpec ident="div2" mode="delete" module="textstructure"/>
				<elementSpec ident="div3" mode="delete" module="textstructure"/>
				<elementSpec ident="div4" mode="delete" module="textstructure"/>
				<elementSpec ident="div5" mode="delete" module="textstructure"/>
				<elementSpec ident="div6" mode="delete" module="textstructure"/>
				<elementSpec ident="div7" mode="delete" module="textstructure"/>
				<elementSpec ident="divGen" mode="delete" module="core"/>
				<elementSpec ident="docAuthor" mode="delete" module="textstructure"/>
				<elementSpec ident="docDate" mode="delete" module="textstructure"/>
				<elementSpec ident="docEdition" mode="delete" module="textstructure"/>
				<elementSpec ident="docImprint" mode="delete" module="textstructure"/>
				<elementSpec ident="docTitle" mode="delete" module="textstructure"/>
				<elementSpec ident="editorialDecl" mode="delete" module="header"/>
				<elementSpec ident="education" mode="delete" module="namesdates"/>
				<elementSpec ident="emph" mode="delete" module="core"/>
				<elementSpec ident="encodingDesc" mode="delete" module="header"/>
				<elementSpec ident="epigraph" mode="delete" module="textstructure"/>
				<elementSpec ident="event" mode="delete" module="namesdates"/>
				<elementSpec ident="expan" mode="delete" module="core"/>
				<elementSpec ident="extent" mode="delete" module="header"/>				
				<elementSpec ident="faith" mode="delete" module="namesdates"/>
				<elementSpec ident="floatingText" mode="delete" module="textstructure"/>
				<elementSpec ident="floruit" mode="delete" module="namesdates"/>
				<elementSpec ident="foreign" mode="delete" module="core"/>
				<elementSpec ident="funder" mode="delete" module="header"/>
				<elementSpec ident="gap" mode="delete" module="core"/>
				<elementSpec ident="gb" mode="delete" module="core"/>
				<elementSpec ident="genName" mode="delete" module="namesdates"/>
				<elementSpec ident="geo" mode="delete" module="namesdates"/>
				<elementSpec ident="geoDecl" mode="delete" module="header"/>
				<elementSpec ident="geogFeat" mode="delete" module="namesdates"/>
				<elementSpec ident="geogName" mode="delete" module="namesdates"/>
				<elementSpec ident="gloss" mode="delete" module="core"/>
				<elementSpec ident="group" mode="delete" module="textstructure"/>
				<elementSpec ident="headItem" mode="delete" module="core"/>
				<elementSpec ident="headLabel" mode="delete" module="core"/>
				<elementSpec ident="hyphenation" mode="delete" module="header"/>
				<elementSpec ident="imprimatur" mode="delete" module="textstructure"/>
				<elementSpec ident="index" mode="delete" module="core"/>
				<elementSpec ident="interpretation" mode="delete" module="header"/>
				<elementSpec ident="join" mode="delete" module="linking"/>
				<elementSpec ident="joinGrp" mode="delete" module="linking"/>
				<elementSpec ident="l" mode="delete" module="core"/>
				<elementSpec ident="langKnowledge" mode="delete" module="namesdates"/>
				<elementSpec ident="langKnown" mode="delete" module="namesdates"/>
				<elementSpec ident="langUsage" mode="delete" module="header"/>
				<elementSpec ident="language" mode="delete" module="header"/>
				<elementSpec ident="lb" mode="delete" module="core"/>
				<elementSpec ident="lg" mode="delete" module="core"/>
				<elementSpec ident="linkGrp" mode="delete" module="linking"/>
				<elementSpec ident="listChange" mode="delete" module="header"/>
				<elementSpec ident="listEvent" mode="delete" module="namesdates"/>
				<elementSpec ident="listNym" mode="delete" module="namesdates"/>
				<elementSpec ident="listOrg" mode="delete" module="namesdates"/>
				<elementSpec ident="listPerson" mode="delete" module="namesdates"/>
				<elementSpec ident="listPlace" mode="delete" module="namesdates"/>
				<elementSpec ident="listPrefixDef" mode="delete" module="header"/>
				<elementSpec ident="listRelation" mode="delete" module="namesdates"/>
				<elementSpec ident="location" mode="delete" module="namesdates"/>
				<elementSpec ident="measure" mode="delete" module="core"/>
				<elementSpec ident="measureGrp" mode="delete" module="core"/>
				<elementSpec ident="media" mode="delete" module="core"/>
				<elementSpec ident="mentioned" mode="delete" module="core"/>
				<elementSpec ident="milestone" mode="delete" module="core"/>
				<elementSpec ident="nameLink" mode="delete" module="namesdates"/>
				<elementSpec ident="namespace" mode="delete" module="header"/>
				<elementSpec ident="nationality" mode="delete" module="namesdates"/>
				<elementSpec ident="normalization" mode="delete" module="header"/>
				<elementSpec ident="notatedMusic" mode="delete" module="figures"/>
				<elementSpec ident="num" mode="delete" module="core"/>
				<elementSpec ident="nym" mode="delete" module="namesdates"/>
				<elementSpec ident="occupation" mode="delete" module="namesdates"/>
				<elementSpec ident="opener" mode="delete" module="textstructure"/>
				<elementSpec ident="offset" mode="delete" module="namesdates"/>
				<elementSpec ident="orig" mode="delete" module="core"/>
				<elementSpec ident="pb" mode="delete" module="core"/>
				<elementSpec ident="person" mode="delete" module="namesdates"/>
				<elementSpec ident="personGrp" mode="delete" module="namesdates"/>
				<elementSpec ident="place" mode="delete" module="namesdates"/>
				<elementSpec ident="placeName" mode="delete" module="namesdates"/>
				<elementSpec ident="population" mode="delete" module="namesdates"/>
				<elementSpec ident="postscript" mode="delete" module="textstructure"/>
				<elementSpec ident="prefixDef" mode="delete" module="header"/>
				<elementSpec ident="principal" mode="delete" module="header"/>
				<elementSpec ident="projectDesc" mode="delete" module="header"/>
				<elementSpec ident="punctuation" mode="delete" module="header"/>
				<elementSpec ident="q" mode="delete" module="core"/>
				<elementSpec ident="quotation" mode="delete" module="header"/>
				<elementSpec ident="quote" mode="delete" module="core"/>
				<elementSpec ident="refState" mode="delete" module="header"/>
				<elementSpec ident="refsDecl" mode="delete" module="header"/>
				<elementSpec ident="reg" mode="delete" module="core"/>
				<elementSpec ident="relatedItem" mode="delete" module="core"/>
				<elementSpec ident="relation" mode="delete" module="namesdates"/>
				<elementSpec ident="rendition" mode="delete" module="header"/>
				<elementSpec ident="residence" mode="delete" module="namesdates"/>
				<elementSpec ident="resp" mode="delete" module="core"/>
				<elementSpec ident="respStmt" mode="delete" module="core"/>
				<elementSpec ident="revisionDesc" mode="delete" module="header"/>
				<elementSpec ident="rs" mode="delete" module="core"/>
				<elementSpec ident="said" mode="delete" module="core"/>
				<elementSpec ident="salute" mode="delete" module="textstructure"/>
				<elementSpec ident="samplingDecl" mode="delete" module="header"/>
				<elementSpec ident="seg" mode="delete" module="linking"/>
				<elementSpec ident="segmentation" mode="delete" module="header"/>
				<elementSpec ident="sex" mode="delete" module="namesdates"/>
				<elementSpec ident="sic" mode="delete" module="core"/>
				<elementSpec ident="signed" mode="delete" module="textstructure"/>
				<elementSpec ident="soCalled" mode="delete" module="core"/>
				<elementSpec ident="socecStatus" mode="delete" module="namesdates"/>
				<elementSpec ident="sp" mode="delete" module="core"/>
				<elementSpec ident="speaker" mode="delete" module="core"/>
				<elementSpec ident="sponsor" mode="delete" module="header"/>
				<elementSpec ident="stage" mode="delete" module="core"/>
				<elementSpec ident="state" mode="delete" module="namesdates"/>
				<elementSpec ident="stdVals" mode="delete" module="header"/>
				<elementSpec ident="styleDefDecl" mode="delete" module="header"/>
				<elementSpec ident="tagUsage" mode="delete" module="header"/>
				<elementSpec ident="tagsDecl" mode="delete" module="header"/>
				<elementSpec ident="taxonomy" mode="delete" module="header"/>
				<elementSpec ident="teiCorpus" mode="delete" module="core"/>
				<elementSpec ident="terrain" mode="delete" module="namesdates"/>
				<elementSpec ident="textLang" mode="delete" module="core"/>
				<elementSpec ident="time" mode="delete" module="core"/>
				<elementSpec ident="timeline" mode="delete" module="linking"/>
				<elementSpec ident="titlePage" mode="delete" module="textstructure"/>
				<elementSpec ident="titlePart" mode="delete" module="textstructure"/>
				<elementSpec ident="trailer" mode="delete" module="textstructure"/>				
				<elementSpec ident="trait" mode="delete" module="namesdates"/>
				<elementSpec ident="unclear" mode="delete" module="core"/>
				
            </schemaSpec>
        </body>
    </text>
</TEI>
