grobid-home/schemas/xsd/ns1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:ns1="http://www.tei-c.org/ns/1.0" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="Grobid.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="p">
    <xs:annotation>
      <xs:documentation>(paragraph) marks paragraphs in prose. [3.1.  7.2.5. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.fragmentable.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="hi">
    <xs:annotation>
      <xs:documentation>(highlighted) marks a word or phrase as graphically distinct from the surrounding text, for reasons concerning which no claim is made. [3.3.2.2.  3.3.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="term">
    <xs:annotation>
      <xs:documentation>contains a single-word, multi-word, or symbolic designation which is regarded as a technical term. [3.3.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.pointing.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.canonical.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.sortable.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.cReferencing.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="name">
    <xs:annotation>
      <xs:documentation>(name, proper noun) contains a proper noun or noun phrase. [3.5.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.personal.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.datable.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.editLike.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="email">
    <xs:annotation>
      <xs:documentation>(electronic mail address) contains an email address identifying a location to which email messages can be delivered. [3.5.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="address">
    <xs:annotation>
      <xs:documentation>contains a postal address, for example of a publisher, an organization, or an individual. [3.5.2.  2.2.4.  3.11.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        <xs:sequence maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.addrPart"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="addrLine">
    <xs:annotation>
      <xs:documentation>(address line) contains one line of a postal address. [3.5.2.  2.2.4.  3.11.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="street">
    <xs:annotation>
      <xs:documentation>contains a full street address including any name or number identifying a building as well as the name of the street or route on which it is located. [3.5.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="postCode">
    <xs:annotation>
      <xs:documentation>(postal code) contains a numerical or alphanumeric code used as part of a postal address to simplify sorting or delivery of mail. [3.5.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="postBox">
    <xs:annotation>
      <xs:documentation>(postal box or post office box) contains a number or other identifier for some postal delivery point other than a street address. [3.5.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:annotation>
      <xs:documentation>contains a date in any format. [3.5.4.  2.2.4.  2.5.  3.11.2.4.  15.2.3.  13.3.6. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.phrase"/>
        <xs:group ref="mathml:tei_model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.datable.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.editLike.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ptr">
    <xs:annotation>
      <xs:documentation>(pointer) defines a pointer to another location. [3.6.  16.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.pointing.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.internetMedia.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.cReferencing.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ref">
    <xs:annotation>
      <xs:documentation>(reference) defines a reference to another location, possibly modified by additional text or comment. [3.6.  16.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.pointing.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.internetMedia.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.cReferencing.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="list">
    <xs:annotation>
      <xs:documentation>contains any sequence of items organized as a list. [3.7. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divTop"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:choice>
          <xs:sequence maxOccurs="unbounded">
            <xs:element ref="ns1:item"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence maxOccurs="unbounded">
            <xs:element ref="ns1:label"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            <xs:element ref="ns1:item"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
        </xs:choice>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divBottom"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.sortable.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attribute.subtype"/>
      <xs:attribute name="type">
        <xs:annotation>
          <xs:documentation>describes the nature of the items in the list.
Suggested values include: 1] gloss; 2] index; 3] instructions; 4] litany; 5] syllogism</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="xs:Name">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="gloss">
                  <xs:annotation>
                    <xs:documentation>each list item glosses some term or concept, which is given by a label element preceding the list item.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="index">
                  <xs:annotation>
                    <xs:documentation>each list item is an entry in an index such as the alphabetical topical index at the back of a print volume.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="instructions">
                  <xs:annotation>
                    <xs:documentation>each list item is a step in a sequence of instructions, as in a recipe.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="litany">
                  <xs:annotation>
                    <xs:documentation>each list item is one of a sequence of petitions, supplications or invocations, typically in a religious ritual.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="syllogism">
                  <xs:annotation>
                    <xs:documentation>each list item is part of an argument consisting of two or more propositions and a final conclusion derived from them.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:annotation>
      <xs:documentation>contains one component of a list. [3.7.  2.5. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.specialPara">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.sortable.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="label">
    <xs:annotation>
      <xs:documentation>contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [3.7. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.placement.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:annotation>
      <xs:documentation>(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.phrase"/>
        <xs:group ref="mathml:tei_model.inter"/>
        <xs:group ref="mathml:tei_model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="note">
    <xs:annotation>
      <xs:documentation>contains a note or annotation. [3.8.1.  2.2.6.  3.11.2.8.  9.3.5.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.specialPara">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.placement.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.pointing.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.responsibility.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
          <xs:attribute name="anchored" default="true" type="mathml:tei_data.truthValue">
            <xs:annotation>
              <xs:documentation>indicates whether the copy text shows the exact place of reference for the note.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="targetEnd">
            <xs:annotation>
              <xs:documentation>points to the end of the span to which the note is attached, if the note is not embedded in the text at that point.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction>
                <xs:simpleType>
                  <xs:list itemType="mathml:tei_data.pointer"/>
                </xs:simpleType>
                <xs:minLength value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="graphic">
    <xs:annotation>
      <xs:documentation>indicates the location of an inline graphic, illustration, or figure. [3.9. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.media.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.resourced.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="analytic">
    <xs:annotation>
      <xs:documentation>(analytic level) contains bibliographic elements describing an item (e.g. an article or poem) published within a monograph or journal and not as an independent publication. [3.11.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:author"/>
        <xs:element ref="ns1:editor"/>
        <xs:element ref="ns1:title"/>
        <xs:group ref="mathml:tei_model.ptrLike"/>
        <xs:element ref="ns1:date"/>
        <xs:element ref="ns1:idno"/>
        <xs:element ref="ns1:availability"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="monogr">
    <xs:annotation>
      <xs:documentation>(monographic level) contains bibliographic elements describing an item (e.g. a book or journal) published as an independent item (i.e. as a separate physical object). [3.11.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:sequence>
            <xs:choice>
              <xs:element ref="ns1:author"/>
              <xs:element ref="ns1:editor"/>
              <xs:element ref="ns1:meeting"/>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="ns1:author"/>
              <xs:element ref="ns1:editor"/>
              <xs:element ref="ns1:meeting"/>
            </xs:choice>
            <xs:element maxOccurs="unbounded" ref="ns1:title"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.ptrLike"/>
              <xs:element ref="ns1:idno"/>
              <xs:element ref="ns1:editor"/>
            </xs:choice>
          </xs:sequence>
          <xs:sequence>
            <xs:choice maxOccurs="unbounded">
              <xs:element ref="ns1:title"/>
              <xs:group ref="mathml:tei_model.ptrLike"/>
              <xs:element ref="ns1:idno"/>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="ns1:author"/>
              <xs:element ref="ns1:editor"/>
              <xs:element ref="ns1:meeting"/>
            </xs:choice>
          </xs:sequence>
          <xs:element ref="ns1:idno"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:availability"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.noteLike"/>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="ns1:edition"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="ns1:idno"/>
            <xs:group ref="mathml:tei_model.ptrLike"/>
            <xs:element ref="ns1:editor"/>
          </xs:choice>
        </xs:sequence>
        <xs:element ref="ns1:imprint"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="ns1:imprint"/>
          <xs:element ref="ns1:biblScope"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="series">
    <xs:annotation>
      <xs:documentation>(series information) contains information about the series in which a book or other bibliographic item has appeared. [3.11.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:title"/>
        <xs:group ref="mathml:tei_model.ptrLike"/>
        <xs:element ref="ns1:editor"/>
        <xs:element ref="ns1:biblScope"/>
        <xs:element ref="ns1:idno"/>
        <xs:group ref="mathml:tei_model.global"/>
        <xs:element ref="ns1:availability"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:annotation>
      <xs:documentation>in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [3.11.2.2.  2.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.naming.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="editor">
    <xs:annotation>
      <xs:documentation>contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc. [3.11.2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.naming.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:annotation>
      <xs:documentation>contains a title for any kind of work. [3.11.2.2.  2.2.1.  2.2.5. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.paraContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.canonical.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attribute.subtype"/>
          <xs:attribute name="type" type="mathml:tei_data.enumerated">
            <xs:annotation>
              <xs:documentation>classifies the title according to some convenient typology.
Sample values include: 1] main; 2] sub(subordinate) ; 3] alt(alternate) ; 4] short; 5] desc(descriptive) </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="level">
            <xs:annotation>
              <xs:documentation>indicates the bibliographic level for a title, that is, whether it identifies an article, book, journal, series, or unpublished material.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="a">
                  <xs:annotation>
                    <xs:documentation>(analytic) the title applies to an analytic item, such as an article, poem, or other work published as part of a larger item.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="m">
                  <xs:annotation>
                    <xs:documentation>(monographic) the title applies to a monograph such as a book or other item considered to be a distinct publication, including single volumes of multi-volume works</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="j">
                  <xs:annotation>
                    <xs:documentation>(journal) the title applies to any serial or periodical publication such as a journal, magazine, or newspaper</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="s">
                  <xs:annotation>
                    <xs:documentation>(series) the title applies to a series of otherwise distinct publications such as a collection</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="u">
                  <xs:annotation>
                    <xs:documentation>(unpublished) the title applies to any unpublished material (including theses and dissertations unless published by a commercial press)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="meeting">
    <xs:annotation>
      <xs:documentation>contains the formalized descriptive title for a meeting or conference, for use in a bibliographic description for an item derived from such a meeting, or as a heading or preamble to publications emanating from it. [3.11.2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.limitedContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.canonical.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="imprint">
    <xs:annotation>
      <xs:documentation>groups information relating to the publication or distribution of a bibliographic item. [3.11.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:classCode"/>
        <xs:sequence maxOccurs="unbounded">
          <xs:choice>
            <xs:group ref="mathml:tei_model.imprintPart"/>
            <xs:group ref="mathml:tei_model.dateLike"/>
          </xs:choice>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publisher">
    <xs:annotation>
      <xs:documentation>provides the name of the organization responsible for the publication or distribution of a bibliographic item. [3.11.2.4.  2.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="biblScope">
    <xs:annotation>
      <xs:documentation>(scope of bibliographic reference) defines the scope of a bibliographic reference, for example as a list of page numbers, or a named subdivision of a larger work. [3.11.2.5. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.citing.attributes"/>
          <xs:attribute name="type">
            <xs:annotation>
              <xs:documentation>identifies the type of information conveyed by the element, e.g. columns, pages, volume.
Suggested values include: 1] vol(volume) ; 2] issue; 3] pp(pages) ; 4] ll(lines) ; 5] chap(chapter) ; 6] part</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union memberTypes="xs:Name">
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="vol">
                      <xs:annotation>
                        <xs:documentation>(volume) the element contains a volume number.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="issue">
                      <xs:annotation>
                        <xs:documentation>the element contains an issue number, or volume and issue numbers.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="pp">
                      <xs:annotation>
                        <xs:documentation>(pages) the element contains a page number or page range.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="ll">
                      <xs:annotation>
                        <xs:documentation>(lines) the element contains a line number or line range.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="chap">
                      <xs:annotation>
                        <xs:documentation>(chapter) the element contains a chapter indication (number and/or title)</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="part">
                      <xs:annotation>
                        <xs:documentation>the element identifies a part of a book or collection.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="pubPlace">
    <xs:annotation>
      <xs:documentation>(publication place) contains the name of the place where a bibliographic item was published. [3.11.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.naming.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="bibl">
    <xs:annotation>
      <xs:documentation>(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.11.1.  2.2.7.  15.3.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.highlighted"/>
        <xs:group ref="mathml:tei_model.pPart.data"/>
        <xs:group ref="mathml:tei_model.ptrLike"/>
        <xs:group ref="mathml:tei_model.biblPart"/>
        <xs:group ref="mathml:tei_model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declarable.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.sortable.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.docStatus.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="biblStruct">
    <xs:annotation>
      <xs:documentation>(structured bibliographic citation) contains a structured bibliographic citation, in which only bibliographic sub-elements appear and in a specified order. [3.11.1.  2.2.7.  15.3.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:analytic"/>
        <xs:sequence maxOccurs="unbounded">
          <xs:element ref="ns1:monogr"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:series"/>
        </xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.noteLike"/>
          <xs:element ref="ns1:idno"/>
          <xs:group ref="mathml:tei_model.ptrLike"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declarable.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.sortable.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.docStatus.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="listBibl">
    <xs:annotation>
      <xs:documentation>(citation list) contains a list of bibliographic citations of any kind. [3.11.1.  2.2.7.  15.3.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.headLike"/>
        <xs:choice maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.biblLike"/>
          <xs:group ref="mathml:tei_model.milestoneLike"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.sortable.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declarable.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiHeader">
    <xs:annotation>
      <xs:documentation>(TEI header) supplies the descriptive and declarative information making up an electronic title page for every TEI-conformant document. [2.1.1.  15.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:fileDesc"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.teiHeaderPart"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attribute name="type" default="text" type="mathml:tei_data.enumerated">
        <xs:annotation>
          <xs:documentation>specifies the kind of document to which the header is attached, for example whether it is a corpus or individual text.
Sample values include: 1] text; 2] corpus</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileDesc">
    <xs:annotation>
      <xs:documentation>(file description) contains a full bibliographic description of an electronic file. [2.2.  2.1.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element ref="ns1:titleStmt"/>
          <xs:element minOccurs="0" ref="ns1:editionStmt"/>
          <xs:element ref="ns1:publicationStmt"/>
          <xs:element minOccurs="0" ref="ns1:seriesStmt"/>
          <xs:element minOccurs="0" ref="ns1:notesStmt"/>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:sourceDesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:annotation>
      <xs:documentation>(title statement) groups information about the title of a work and those responsible for its content. [2.2.1.  2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:title"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.respLike"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="editionStmt">
    <xs:annotation>
      <xs:documentation>(edition statement) groups information relating to one edition of a text. [2.2.2.  2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="mathml:tei_model.pLike"/>
        <xs:sequence>
          <xs:element ref="ns1:edition"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.respLike"/>
        </xs:sequence>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="edition">
    <xs:annotation>
      <xs:documentation>describes the particularities of one edition of a text. [2.2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationStmt">
    <xs:annotation>
      <xs:documentation>(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4.  2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:sequence maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.publicationStmtPart.agency"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.publicationStmtPart.detail"/>
        </xs:sequence>
        <xs:group maxOccurs="unbounded" ref="mathml:tei_model.pLike"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="idno">
    <xs:annotation>
      <xs:documentation>(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [2.2.4.  2.2.5.  3.11.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:idno"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.sortable.attributes"/>
      <xs:attribute name="type" type="mathml:tei_data.enumerated">
        <xs:annotation>
          <xs:documentation>categorizes the identifier, for example as an ISBN, Social Security number, etc.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="availability">
    <xs:annotation>
      <xs:documentation>supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="mathml:tei_model.pLike"/>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declarable.attributes"/>
      <xs:attribute name="status" default="unknown">
        <xs:annotation>
          <xs:documentation>supplies a code identifying the current availability of the text.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="free">
              <xs:annotation>
                <xs:documentation>the text is freely available.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="unknown">
              <xs:annotation>
                <xs:documentation>the status of the text is unknown.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="restricted">
              <xs:annotation>
                <xs:documentation>the text is not freely available.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="seriesStmt">
    <xs:annotation>
      <xs:documentation>(series statement) groups information about the series, if any, to which a publication belongs. [2.2.5.  2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="mathml:tei_model.pLike"/>
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="ns1:title"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:editor"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="ns1:idno"/>
            <xs:element ref="ns1:biblScope"/>
          </xs:choice>
        </xs:sequence>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="notesStmt">
    <xs:annotation>
      <xs:documentation>(notes statement) collects together any notes providing information about a text additional to that recorded in other parts of the bibliographic description. [2.2.6.  2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="mathml:tei_model.noteLike"/>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourceDesc">
    <xs:annotation>
      <xs:documentation>(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="mathml:tei_model.pLike"/>
        <xs:choice maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.biblLike"/>
          <xs:group ref="mathml:tei_model.listLike"/>
        </xs:choice>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declarable.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="profileDesc">
    <xs:annotation>
      <xs:documentation>(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the languages and sublanguages used, the situation in which it was produced, the participants and their setting. [2.4.  2.1.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.profileDescPart"/>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="abstract">
    <xs:annotation>
      <xs:documentation>contains a summary or formal abstract prefixed to an existing source document by the encoder. [2.4.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.pLike"/>
        <xs:group ref="mathml:tei_model.listLike"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.responsibility.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="textClass">
    <xs:annotation>
      <xs:documentation>(text classification) groups information which describes the nature or topic of a text in terms of a standard classification scheme, thesaurus, etc. [2.4.3. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:classCode"/>
        <xs:element ref="ns1:keywords"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declarable.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="keywords">
    <xs:annotation>
      <xs:documentation>contains a list of keywords or phrases identifying the topic or nature of a text. [2.4.3. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element maxOccurs="unbounded" ref="ns1:term"/>
        <xs:element ref="ns1:list"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attribute name="scheme" type="mathml:tei_data.pointer">
        <xs:annotation>
          <xs:documentation>identifies the controlled vocabulary within which the set of keywords concerned is defined identifies the classification scheme within which the set of categories concerned is defined, for example by a taxonomy element, or by some other resource.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="classCode">
    <xs:annotation>
      <xs:documentation>(classification code) contains the classification code used for this text in some standard classification system. [2.4.3. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq.limited">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attribute name="scheme" use="required" type="mathml:tei_data.pointer">
            <xs:annotation>
              <xs:documentation>identifies the classification system in use, as defined by for example by a taxonomy element, or some other resource..</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEI">
    <xs:annotation>
      <xs:documentation>(TEI document) contains a single TEI-conformant document, comprising a TEI header and a text, either in isolation or as part of a teiCorpus element. [4.  15.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:teiHeader"/>
        <xs:element ref="ns1:text"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attribute name="version" type="mathml:tei_data.version">
        <xs:annotation>
          <xs:documentation>specifies the major version number of the TEI Guidelines against which this document is valid.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:annotation>
      <xs:documentation>contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4.  15.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:front"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        </xs:sequence>
        <xs:element ref="ns1:body"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:back"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:annotation>
      <xs:documentation>(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        <xs:sequence minOccurs="0">
          <xs:group ref="mathml:tei_model.divTop"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.global"/>
            <xs:group ref="mathml:tei_model.divTop"/>
          </xs:choice>
        </xs:sequence>
        <xs:choice>
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.divLike"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.divLike"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divBottom"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="div">
    <xs:annotation>
      <xs:documentation>(text division) contains a subdivision of the front, body, or back of a text. [4.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divTop"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:sequence minOccurs="0">
          <xs:choice>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.divLike"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
            </xs:sequence>
            <xs:sequence>
              <xs:sequence maxOccurs="unbounded">
                <xs:group ref="mathml:tei_model.common"/>
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
              </xs:sequence>
              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="mathml:tei_model.divLike"/>
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
              </xs:sequence>
            </xs:sequence>
          </xs:choice>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.divBottom"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.divLike.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="front">
    <xs:annotation>
      <xs:documentation>(front matter) contains any prefatory matter (headers, title page, prefaces, dedications, etc.) found at the start of a document, before the main body. [4.6.  4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.pLike"/>
          <xs:group ref="mathml:tei_model.pLike.front"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:sequence minOccurs="0">
          <xs:sequence>
            <xs:group ref="mathml:tei_model.divLike"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.divLike"/>
              <xs:group ref="mathml:tei_model.global"/>
            </xs:choice>
          </xs:sequence>
          <xs:sequence minOccurs="0">
            <xs:group ref="mathml:tei_model.divBottom"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="mathml:tei_model.divBottom"/>
              <xs:group ref="mathml:tei_model.global"/>
            </xs:choice>
          </xs:sequence>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="back">
    <xs:annotation>
      <xs:documentation>(back matter) contains any appendixes, etc. following the main part of a text. [4.7.  4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.pLike.front"/>
          <xs:group ref="mathml:tei_model.pLike"/>
          <xs:group ref="mathml:tei_model.listLike"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:sequence minOccurs="0">
          <xs:group ref="mathml:tei_model.divLike"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.divLike"/>
            <xs:group ref="mathml:tei_model.global"/>
          </xs:choice>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="orgName">
    <xs:annotation>
      <xs:documentation>(organization name) contains an organizational name. [13.2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.datable.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.editLike.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.personal.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="persName">
    <xs:annotation>
      <xs:documentation>(personal name) contains a proper noun or proper-noun phrase referring to a person, possibly including one or more of the person's forenames, surnames, honorifics, added names, etc. [13.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.datable.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.editLike.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.personal.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="surname">
    <xs:annotation>
      <xs:documentation>contains a family (inherited) name, as opposed to a given, baptismal, or nick name. [13.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.personal.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="forename">
    <xs:annotation>
      <xs:documentation>contains a forename, given or baptismal name. [13.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.personal.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="roleName">
    <xs:annotation>
      <xs:documentation>contains a name component which indicates that the referent has a particular role or position in society, such as an official title or rank. [13.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.personal.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="country">
    <xs:annotation>
      <xs:documentation>contains the name of a geo-political unit, such as a nation, country, colony, or commonwealth, larger than or administratively superior to a region and smaller than a bloc. [13.2.3. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.naming.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.datable.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="region">
    <xs:annotation>
      <xs:documentation>contains the name of an administrative unit such as a state, province, or county, larger than a settlement, but smaller than a country. [13.2.3. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.naming.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.datable.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="settlement">
    <xs:annotation>
      <xs:documentation>contains the name of a settlement such as a city, town, or village identified as a single geo-political or administrative unit. [13.2.3. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.naming.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.datable.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="affiliation">
    <xs:annotation>
      <xs:documentation>contains an informal description of a person's present or past affiliation with some organization, for example an employer or sponsor. [15.2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.phraseSeq">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.editLike.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.datable.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.naming.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="org">
    <xs:annotation>
      <xs:documentation>(organization) provides information about an identifiable organization such as a business, a tribe, or any other grouping of people. [13.2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.headLike"/>
        <xs:choice>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.pLike"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.labelLike"/>
            <xs:group ref="mathml:tei_model.nameLike"/>
          </xs:choice>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.noteLike"/>
          <xs:group ref="mathml:tei_model.biblLike"/>
          <xs:element ref="ns1:link"/>
        </xs:choice>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.personLike"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.editLike.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.sortable.attributes"/>
      <xs:attribute name="role">
        <xs:annotation>
          <xs:documentation>specifies a primary role or classification for the organization.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="mathml:tei_data.word"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="link">
    <xs:annotation>
      <xs:documentation>defines an association or hypertextual link among elements or passages, of some type not more precisely specifiable by other elements. [16.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.pointing.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="anchor">
    <xs:annotation>
      <xs:documentation>(anchor point) attaches an identifier to a point within a text, whether or not it corresponds with a textual element. [8.4.2.  16.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="table">
    <xs:annotation>
      <xs:documentation>contains text displayed in tabular form, in rows and columns. [14.1.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.headLike"/>
          <xs:group ref="mathml:tei_model.global"/>
        </xs:choice>
        <xs:choice>
          <xs:sequence maxOccurs="unbounded">
            <xs:element ref="ns1:row"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="mathml:tei_model.graphicLike"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
          </xs:sequence>
        </xs:choice>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="mathml:tei_model.divBottom"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:tei_model.global"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attribute name="rows" type="mathml:tei_data.count">
        <xs:annotation>
          <xs:documentation>indicates the number of rows in the table.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="cols" type="mathml:tei_data.count">
        <xs:annotation>
          <xs:documentation>(columns) indicates the number of columns in each row of the table.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="row">
    <xs:annotation>
      <xs:documentation>contains one row of a table. [14.1.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:cell"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.tableDecoration.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cell">
    <xs:annotation>
      <xs:documentation>contains one cell of a table. [14.1.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.specialPara">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
          <xs:attributeGroup ref="mathml:tei_att.tableDecoration.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="formula">
    <xs:annotation>
      <xs:documentation>contains a mathematical or other formula. [14.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.graphicLike"/>
        <xs:group ref="mathml:tei_model.hiLike"/>
        <xs:element ref="mathml:math"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attribute name="notation" type="mathml:tei_data.enumerated">
        <xs:annotation>
          <xs:documentation>names the notation used for the content of the element.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="figure">
    <xs:annotation>
      <xs:documentation>groups elements representing or containing graphic information such as an illustration, formula, or figure. [14.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:tei_model.headLike"/>
        <xs:group ref="mathml:tei_model.common"/>
        <xs:element ref="ns1:figDesc"/>
        <xs:group ref="mathml:tei_model.graphicLike"/>
        <xs:group ref="mathml:tei_model.global"/>
        <xs:group ref="mathml:tei_model.divBottom"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.placement.attributes"/>
      <xs:attributeGroup ref="mathml:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="figDesc">
    <xs:annotation>
      <xs:documentation>(description of figure) contains a brief prose description of the appearance or content of a graphic figure, for use when documenting an image without displaying it. [14.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:tei_macro.limitedContent">
          <xs:attributeGroup ref="mathml:tei_att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
